<div class="color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="bs-pdp--main">
      <div class="bs-pdp--media-container">
        <div id="thumbnails" class="keen-slider thumbnail">
          {%- for media in product.media -%}
            {%- if media.media_type == 'image' -%}
              <div class="keen-slider__slide">
                {{
                  media
                  | image_url: width: 200, height: 200, crop: 'center'
                  | image_tag: loading: 'lazy', decoding: 'async'
                }}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>

        <div id="main-gallery" class="keen-slider">
          {%- for media in product.media -%}
            {%- if media.media_type == 'image' -%}
              <div class="keen-slider__slide">
                {{
                  media
                  | image_url: width: 800, height: 800, crop: 'center'
                  | image_tag:
                    sizes: '(max-width: 899px) 100vw, 50vw',
                    widths: '375, 550, 750, 1100, 1500, 1800',
                    loading: 'eager',
                    decoding: 'async'
                }}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
      <div class="bs-pdp--form-container">
        <div class="bs-pdp--form">
          <h1 class="bs-pdp--title">{{ product.title }}</h1>

          {%- if product.metafields.info.productcategory != blank -%}
            <div class="bs-pdp--category">{{- product.metafields.info.productcategory -}}</div>
          {%- endif -%}

          {%- render 'price', product: product, use_variant: true, show_badges: false, show_compare_at_price: true -%}

          <p
            class="product__inventory{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
            {{ block.shopify_attributes }}
            id="Inventory-{{ section.id }}"
            role="status"
          >
            {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
              {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
                <div class="bs-pdp--availability">
                  {{- 'products.product.inventory_in_stock' | t -}}
                  {%- if product.metafields.info.lieferzeit != blank -%}
                    , {{ product.metafields.info.lieferzeit }}
                    {{ 'products.product.arrives' | t }}
                  {%- endif %}
                </div>
              {%- endif -%}
            {%- endif -%}
          </p>

          {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
          {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
          {%- endform -%}

          {%- assign product_form_id = 'product-form-' | append: section.id -%}
          {%- render 'buy-buttons',
            product: product,
            product_form_id: product_form_id,
            section_id: section.id,
            show_pickup_availability: true
          -%}
        </div>
      </div>
    </div>
  </div>
</div>

{{ 'bs-pdp.css' | asset_url | stylesheet_tag: preload: true }}
<script src="{{ 'product-form.js' | asset_url }}" defer></script>
<script src="{{ 'keen-slider.js' | asset_url }}" defer></script>
<script src="{{ 'bs-pdp.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Produktdetails",
  "class": "bs-main-product",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
